



<div class="text-center">
    <h1 class="display-4">IZBERITE KATEGORIJO</h1>
    <div class="row">
        <div class="column">
            <a asp-area="" asp-controller="MoskeKategorije" asp-action="Index">
            <h2>OBLAČILA</h2>
            <img src="https://www.instyle.com/thmb/EMeMmp7gV5ZC-QgM9f-7R_iLSr0=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/gettyimages-539573922-2000-a03885527cf14bb9b1719a5812fb1d26.jpg" alt="Oblačila" style="max-width:50%">
            </a>
        </div>
        <div class="column">
            <a asp-area="" asp-controller="MoskeKategorijeObutev" asp-action="Index">
            <h2>OBUTEV</h2>
            <img src="https://img-s-msn-com.akamaized.net/tenant/amp/entityid/AA13NgMQ.img?m=6&q=80" alt="Obutev" style="max-width:50%">
            </a>
        </div>
    </div>
</div>