@model List<Obutev>
@{
	ViewData["Title"] = "List of Oblacila";
}

<div class="row">
	<div class="col-md-8 offset-md-2">
		<table class="table">
			<thead>
				<tr>
					<th>Znamka</th>
					<th>Slika</th>
					<th>Opis</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td class="align-middle">
							@Html.DisplayFor(modelItem => item.ImeCevlja)
						</td>
						<td class="align-middle">
							<img class="rounded-circle" src="@item.SlikaCevljaUrl" alt="@item.ImeCevlja" style="max-width:150px">
						</td>
						<td class="align-middle">
							@Html.DisplayFor(modelItem => item.opis)
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>