@model List<KategorijeCevlji>
@{
	ViewData["Title"] = "List of Cevlji";
}

<div class="row">
	<div class="col-md-8 offset-md-2">
		<table class="table">
			<tbody>
				@foreach (var item in Model)
				{
						<tr>
							<td class="align-middle">
								<a asp-area="" asp-controller="MoskeKategorijeObutev" asp-action="Details" asp-route-id="@item.ID">
								@Html.DisplayFor(modelItem => item.ImeKategorije)
								</a>
							</td>
						</tr>
				}
			</tbody>
		</table>
	</div>
</div>